language: java
jdk:
  - openjdk7
  - oraclejdk8
matrix:
  include:
    - jdk: oraclejdk8
      env: COVERALLS=true
after_success:
  - test -z $COVERALLS || mvn clean test jacoco:report coveralls:report
